body {
  background-color: #F3F0D7;
}

hr {
  background-color: white;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width:10px;
  margin: 2% 45%;
  width: 10%;
}

.container-fluid{
  padding: 1% 6%;
  background-color: #DF2E2E;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.0rem;
  font-weight: bold;
}



.nav-item {
  padding: 0 18px;
}

.nav_elements {
      padding-left: 200px;
 
}

.donor_details {
  padding: 48px 16px;
  max-width: 820px;
  margin: 0 auto;
}

.form {
  margin: 0;
  background-color: rgb(189, 250, 247);
  width: 100%;
  padding: 18px 18px 8px;
  text-align: left;
  border-style: solid;
  border-radius: 10px;
}

.link {
  color: rgb(39, 37, 37);
  font-size: 25px;
  text-align: center;
  margin-bottom: 0px;
}
.link a {
  color: #666;
}

.Donor-title {
  margin-top: 3%;
  padding: 0.5%;
  text-align: center;
}

.Donor-label {
  display: block;
  width: 100%;
  text-align: left;
  max-width: 520px;
  margin: 12px auto 6px;
  color: rgba(15, 23, 42, 0.9);
  font-weight: 600;
}

.Donor-input {
  display: block;
  padding: 12px 14px;
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  max-width: 520px;
  border-radius: 6px;
  border: 1px solid rgba(15, 23, 42, 0.25);
}

.Donor-button {
  margin: 18px auto 22px;
  display: block;
  width: 100%;
  max-width: 200px;
}